.star-container {
  width: calc(32px * 5 + 20px);
  height: calc(32px + 6px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: slategray;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px 0;
}