.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: var(--black);
  position: relative;
}

.header h2 {
  position: absolute;
  color: var(--white);
  right: 20px;
  top: 0;
}

.currency {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  color: var(--white);
  margin-right: 10px;
}