.review {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 20px 26px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
