.reviews {
    padding: 0 10px;
}

.review {
    border: 1px solid #e2e2e2;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.name {
    font: bold 1rem/140% Arial, sans-serif;
    margin-bottom: 16px;
}

.text {
    font-style: italic;
    margin-bottom: 16px;
}

.boxStars {
    display: flex;
    align-items: center;
}

.boxStarsTitle {
    margin-right: 10px;
}