.container {
  margin: 0 auto;
}

.title {
  border-bottom: 1px solid #333;
  color: #333;
  line-height: 32px;
  font-size: 24px;
}

.list {
  max-width: 640px;
}

.banner {
  color: #777;
  text-align: center;
}